<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  main {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
  }

  #inputForm {
    background-color: rgb(70, 130, 180);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    padding-right: 30px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14pt;
    margin: 10px;
    width: 300px;
  }

  h3 {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
  }

  h5 {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
  }

  #inputPart {
    margin-top: 10px;
  }

  input {
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 10pt;
    padding: 0px 5px;
    margin-top: 5px;
    align-self: stretch;
  }

  input.error {
    border: 2px solid rgb(139, 0, 0);
  }

  textarea {
    width: 100%;
    height: 80px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 10pt;
    padding: 0px 5px;
    margin-top: 5px;
    resize: none;
  }

  #errorItem {
    color: rgb(139, 0, 0);
    font-size: 10pt;
    margin-top: 5px;
  }

  button {
    width: 104%;
    height: 40px;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14pt;
    border: none;
    box-shadow: none;
    border-radius: 5px;
  }

  button:hover {
    background-color: lightgray;
  }

  button:active {
    background-color: darkgray;
  }

  #outputForm {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    padding-right: 30px;
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: 550;
    width: 300px;
    margin: 10px;
    align-self: stretch;
  }

  p {
    overflow-wrap: break-word;
    font-size: 10pt;
  }
</style>

<main>
  <div id="inputForm">
    <h3>Product Review Form</h3>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
      <div id="inputPart">
        <label for="name">User Name</label>
        <div>
          <input [(ngModel)]="name" type="text" id="name" formControlName="name" required [ngClass]="{'error': myForm.controls['name'].invalid && myForm.controls['name'].touched}">
        </div>
        <div *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">
          <div id="errorItem" *ngIf="myForm.controls['name'].errors?.['required']">User Name is required.</div>
        </div>
      </div>
    
      <div id="inputPart">
        <label for="email">Email</label>
        <div>
          <input [(ngModel)]="email" type="email" id="email" formControlName="email" required>
        </div>
        <div *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
          <div id="errorItem" *ngIf="myForm.controls['email'].errors?.['required']">Email is required.</div>
          <div id="errorItem" *ngIf="myForm.controls['email'].errors?.['email']">Invalid email format.</div>
        </div>
      </div>
    
      <div id="inputPart">
        <label for="product">Product Number</label>
        <div>
          <input [(ngModel)]="product" type="text" id="product" formControlName="product" required>
        </div>
        <div *ngIf="myForm.controls['product'].invalid && myForm.controls['product'].touched">
          <div id="errorItem" *ngIf="myForm.controls['product'].errors?.['required']">Product Number is required.</div>
          <div id="errorItem" *ngIf="myForm.controls['product'].errors?.['pattern']">Product Number must be a number.</div>
          <div id="errorItem" *ngIf="myForm.controls['product'].errors?.['minlength']">Product Number must be 6 digits.</div>
          <div id="errorItem" *ngIf="myForm.controls['product'].errors?.['maxlength']">Product Number must be 6 digits.</div>
        </div>
      </div>
    
      <div id="inputPart">
        <label for="rate">Your Rate</label>
        <div>
          <input [(ngModel)]="rate" type="text" id="rate" formControlName="rate" required>
        </div>
        <div *ngIf="myForm.controls['rate'].invalid && myForm.controls['rate'].touched">
          <div id="errorItem" *ngIf="myForm.controls['rate'].errors?.['required']">Rate is required.</div>
          <div id="errorItem" *ngIf="myForm.controls['rate'].errors?.['pattern']">Rate must be a number.</div>
          <div id="errorItem" *ngIf="myForm.controls['rate'].errors?.['min']">Rate must be at least 0.</div>
          <div id="errorItem" *ngIf="myForm.controls['rate'].errors?.['max']">Rate must be at most 5.</div>
        </div>
      </div>
    
      <div id="inputPart">
        <label for="review">Your Comment</label>
        <div>
          <textarea [(ngModel)]="review" type="text" id="review" formControlName="review" required></textarea>
        </div>
        <div *ngIf="myForm.controls['review'].invalid && myForm.controls['review'].touched">
          <div id="errorItem" *ngIf="myForm.controls['review'].errors?.['required']">Review is required.</div>
        </div>
      </div>

      <button type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
  </div>

  <div id="outputForm">
    <h3>Your Review</h3>
    <h5>about Product Number {{product}}</h5><hr>
    <p>{{name}} ({{email}})</p><hr>
    <p>Rate: {{rate}}</p>
    <p>{{review}}</p>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
